.content {
   	width: 100%;
	position: relative;
	border-top: 1px solid #e8e8e8;
}
    

ul.triggers li.selected {
	background-color:red; color:#000;
}

.slide {
	padding-top: 100px;
	line-height: 2.0;
	height: auto !important; 
   	min-height: 420px;
   	max-height: 420px;
   	height: 400px; 
   	width: 100%;
    overflow: hidden;
}

.slide .container {
	position: relative;
}

.slide .description {
	padding: 30px;
}

.left.light,
.left.dark,
.right.light,
.right.dark {
	display: inline-block;
	margin-top: 100px;
	background-repeat: no-repeat;
	background-position: 0px 0px;
	width: 17px;
	height: 55px;
}

.left.light {
	background-image: url("../img/icons/icon-left-light.png");
}

.left.dark {
	background-image: url("../img/icons/icon-left-dark.png");
}

.right.light {
	background-image: url("../img/icons/icon-right-light.png");
}

.right.dark {
	background-image: url("../img/icons/icon-right-dark.png");
}