/* Animations */

@-webkit-keyframes iphoneMove {
    from { bottom: -220px; }
    to { bottom: -140px; }
}

@-webkit-keyframes jumbotronMove {
    from { top: -30px; }
    to { top: 0px; }
}


/* Fonts */

@font-face {
    font-family: 'Gotham Rounded Light';
    src: url("../fonts/gotham-rounded-light.otf") format("opentype");
}

@font-face {
    font-family: 'Gotham Rounded Medium';
    src: url("../fonts/gotham-rounded-medium.otf") format("opentype");
}



/* BOOTSTRAP OVERRIDES */

@media (min-width: 768px) {
    .container {
        width: 700px;
    }
}

@media (min-width: 992px) {
    .container {
        width: 920px;
    }
}

body {
    padding-top: 0px;
    padding-bottom: 0px;
    color: #666;
    -webkit-font-smoothing: antialiased;
    font-smoothing: antialiased;
    font-family: 'Open Sans', sans-serif;
    font-size:  15px;
    line-height: 1.85;
}

body a {
    text-decoration: none;
}

h1,
h2,
h3 {
    font-family: 'Montserrat', sans-serif;
    line-height: 1.4;
    font-weight: bold;
}



@media (min-width: 767px) {
    .lead {
        font-size: 22px;
    }
}

.lead {
    line-height: 1.95;
}

.lead.bold {
    font-weight: 600;
}

hr {
    border-width: 5px;
}

.label {
    font-weight: normal;
}

.label-default {
    background-color: #fff;
    color: #666;
    border: 1px solid #EEE;
}

.navbar-default {
    background-color: transparent;
    border: none;
}

.navbar-nav>li>a {
    padding: 5px 10px;
    margin: 10px 0;
    color: inherit;
}

.navbar-default .navbar-nav>.active>a,
.navbar-default .navbar-nav>.active>a:hover,
.navbar-default .navbar-nav>.active>a:focus {
    background-color: transparent;
    font-weight: 600;
    color: inherit;
}

.navbar-default .navbar-nav>li>a {
    color: inherit;
}


.navbar-default .navbar-brand {
    color: inherit;
}

/*Components*/

.btn {
    border-radius: 4px;
}

.btn-primary {
    border-color: #9B9B9B;
    background-color: #9B9B9B;
}

.btn-primary:hover {
    background-color: #4A4A4A;
    border-color: #4A4A4A;
}

.secondary-color {
    color: #7f7f7f;
}

.weak {
    font-weight: normal;
}

.bold {
    font-weight: bold;
}

small,
.light {
    color: #888;
}

.section {
    padding-top: 75px;
    padding-bottom: 75px;
}

.section-top {
    padding-bottom: 0;
}

.section-bottom {
    padding-top: 0;
}

.section .overview-paragraph {
    padding-top: 20px;
    padding-bottom: 20px;
}

@media (max-width: 768px) {
    .section .overview-paragraph {
        padding-top: 30px;
        padding-bottom: 30px;
    }

    .overview-img  {
        margin: 20px 0;
    }
}

.segmented-controls {
    border: 2px solid #9B9B9B;
    color: #9B9B9B;
    border-radius: 4px;
}

.segmented-controls--control {
    width: 50%;
    float: left;
    padding: 8px 10x;
}

.segmented-controls--control.active {
    background-color: #9B9B9B;
    color: #fff;
}

.footer {
    padding-top: 100px;
    padding-bottom: 60px;
    color: #929090;
    text-align: center;
    position: relative;
    z-index: 1;
    border-top: 1px solid #eee;
    background-color: #fff;
}

.footer--links {
    padding: 40px 0;
}

.footer--email {
    color: #929090;
}

.footer .footer--lead {
    padding-top: 15px;
    padding-bottom: 45px;
}

.footer .footer--icon {
    margin: 15px 0;
}

video {
    border-radius: 6px;
    overflow: hidden;
    margin-top: 30px;
}

.center-divide {
    margin-top: 40px;
}

/*Custom*/


/*HEADER*/

.work-overview,
.about {
    background-color: #fff;
    z-index: 1;
    position: relative;
}

@media (min-width: 768px) {
    .work-overview__crowdsurge {
        border-bottom: 4px solid #eee;
    }
}

.work-overview--header {
    margin: 0;
}

.work-overview--sub-header {
    margin-top: 10px;
    margin-bottom: 15px;
}

.header--container {
    position: relative;
    z-index: 0;
}

.header--container h1 {
    font-size: 43px;
}

.header--container h2 {
    font-size: 35px;
    margin-top: 0;
}

.main-overview .iphone-mock-hand {
    position: absolute;
    bottom: -140px;
    right: -70px;
    -webkit-animation: iphoneMove 1s;
    -webkit-animation-timing-function: ease-in-out;
    animation-timing-function: ease-in-out;
}

@media (min-width: 1090px) {
    .main-overview .iphone-mock-hand {
        position: absolute;
        right: -60px;
    }
}

@media (max-width: 420px) {
    .iphone-mock-hand-mobile {
        margin-left: 40px;
        margin-top: 40px;
        margin-bottom: -35px;
    }
}

@media (min-width: 420px) {
    .sub-header--container {
        display: none;
    }
}


.main-overview--sub-title {
    line-height: 1.5;
    padding-top: 0;
    margin-top: 0;
    padding-bottom: 85px;
}

.main-overview--intro {
    padding-top: 30px;
}

.main-overview--title,
.main-overview--city {
    line-height: 1.5;
    font-size: 42px;
    margin-bottom: -10px;
    margin-top: 0;
}

@media (min-width: 990px) {
    .main-overview--sub-title {
        padding-bottom: 35px;
    }

    .header--container h1 {
        font-size: 53px;
    }
}

@media (max-width: 767px) {


    .header--container {
        color: #666;
        background-color: #fff;
    }
}

.main-overview a {
    color: #666;
}

.sub-overview {
    z-index: 1;
    position: relative;
    background-color: #fff;
}

.jumbotron p {
    font-size: inherit;
}

@media (min-width: 767px) {

    .jumbotron {
        height: 474px;
        z-index: 0;
        position: relative;
        margin: 0;
        background-color: #F3F2F0;
    }

    .jumbotron--container {
        position: fixed;
        top: 0;
        left: 0;
        right: 0;
        padding-top: 20px;
        z-index: 0;
        -webkit-animation: jumbotronMove 1s;
        -webkit-animation-timing-function: ease-in-out;
        animation-timing-function: ease-in-out;
    }

    .navbar-default {
        margin-bottom: 100px;
    }

    .sub-overview--name {
        height: 0;
        overflow: hidden;
        margin: 0;
        padding: 0;
        max-height: 30px !important;
        line-height: 1.1;
        padding-top: 210px;
    }
}

@media (min-width: 990px) {
    .jumbotron {
        height: 526px;
        z-index: 0;
        position: relative;
        margin: 0;
    }

    .jumbotron--container {
        position: fixed;
        top: 0;
        left: 0;
        right: 0;
        z-index: 0;
        -webkit-animation: jumbotronMove 1s;
        -webkit-animation-timing-function: ease-in-out;
        animation-timing-function: ease-in-out;
    }

    .navbar-default {
        margin-bottom: 120px;
    }
}

@media (max-width: 767px) {

    body {
        padding: 0;
    }

    .jumbotron {
        padding: 0;
        margin: 0;
    }

    .main-overview--sub-title {
        padding-bottom: 35px;
    }

    .section {
        padding-top: 30px;
        padding-bottom: 30px;
    }

    .section.section-top {
        padding-bottom: 0;
    }

    .section.section-bottom {
        padding-top: 0;
    }

    .container {
        padding-left: 30px;
        padding-right: 30px;
    }

    .header {
        margin-top: 0px;
        padding-top: 20px;
        position: relative;
        z-index: 0;
    }

    .header h1,
    .header h2,
    .header h3 {
        line-height: 1.2;
    }

    .header--container {
        padding-top: 30px;
        padding-bottom: 30px;
        position: relative;
        z-index: 0;
    }

    .sub-header--container {
        padding-bottom: 35px;
        overflow: hidden;
        background-color: #F3F2F0;
    }

    .sub-header--container h2 {
        font-size: 52px;
    }

    .main-overview {
        background-color: #666;
        color: #F3F2F0;
    }

    .main-overview--sub-title a {
        color: #F3F2F0;
    }

    .main-overview--sub-title {
        padding-top: 25px;
    }

}

.sub-header--container .label {
    border: 1px solid #666;
    color: #666;
}

.influence .influence--header {
    margin: 20px 0 30px 0;
}

.bordered-bottom li {
    border-bottom: 2px solid #eee;
    padding: 20px 0;
}

.bordered-bottom li:last-of-type {
    border-bottom: 0;
}


/* SUB OVERVIEW */

.sub-nav {
    padding-top: 20px;
    padding-bottom: 30px;
}

.sub-nav .segmented-controls {
    margin-top: 20px;
}

/* HEALTHYOUT */

.healthyout-jumbotron {
    background-color: #47C965;
    color: #FFF;
    padding-top: 20px;
}

.healthyout-jumbotron .navbar-nav>li>a:hover {
    color: #1B6215;
}


.healthyout-jumbotron .logo {
    width: 80%;
    margin-top: 10%;
}

.healthyout-overview {
    padding-top: 150px;
}

.work-header--head {
    font-family: 'Gotham Rounded Light';
    font-weight: 300;
    padding-top: 25px;
}

@media (min-width: 767px) {
    .work-header--head {
        font-size: 55px;
    }
}

.work-header--sub-head {
    padding-bottom: 20px;
    line-height: 1.5;
    font-family: 'Gotham Rounded Light';
    font-weight: 300;
}

.healthyout-screens {
    background-color: #F5F5F5;
}

.screenshot--header {
    min-height: 66px;
}

.screenshot--img {
    margin: 30px 0 25px 0;
}

.screenshot--sub-header {
    font-size: 15px;
}

.screenshot--icon {
    margin-bottom: 10px;
}

@media (max-width: 767px) {
    .healthyout-jumbotron .logo {
        width: 80%;
    }

    .healthyout-overview {
        padding-top: 60px;
    }

    .wireframe img {
        margin-top: 15px;
    }
}

.healthyout-wireframes .wireframe-row {
    padding-top: 30px;
}

/* Other */

.body-content {
    background-color: #fff;
    padding-bottom: 40px;
    border-top: 1px solid #eee;
    position: relative;
}


/* CrowdSurge */

.crowdsurge-jumbotron {
    padding-top: 20px;
}

.crowdsurge-jumbotron--header {
    padding-top: 40px;
    padding-bottom: 30px;
    font-size: 60px;
    line-height: 1;
}

.crowdsurge-work .video-embed-conatiner {
    border-radius: 8px;
    overflow: hidden;
}


.crowdsurge-jumbotron--sub-header {
    padding-bottom: 60px;
}

.crowdsurge-jumbotron--lead {
    margin-bottom: 120px;
}

@media (max-width: 767px) {

    .crowdsurge-jumbotron--header {
        padding-top: 40px;
        font-size: 40px;
    }

}

.usability-example {
    padding: 20px 0;
}

.usability-example--header {
    padding-top: 0;
    margin-top: 0;
}

.crowdsurge-visual-design {
    background-color: #F4F5F3;
}

.crowdsurge-visual-design hr {
    border-color: #6C6F72;
}

@media (max-width: 767px) {
    .crowdsurge-visual-design--image {
        padding: 30px;
    }
}

.iphone-family-container {
    margin-bottom: 100px;
}

.iphone-family {
    position: relative;
    z-index: 1;
}

.gif-container {
    position: absolute;
    background-color: red;
    width: 30%;
    height: 73.5%;
    z-index: 0;
    top: 11%;
    left: 50%;
    margin-left: -16%;
}

.gif-container img {
    position: absolute;
    width: 100%;
    height: 102%;
    left: 0;
    top: -1px;
}
