/* Animations */

@-webkit-keyframes iphoneMove {
    from { bottom: -230px; }
    to { bottom: -205px; }
}


/* BOOTSTRAP OVERRIDES */

@media (min-width: 768px) {
    .container {
        width: 700px;
    }
}

@media (min-width: 992px) {
    .container {
        width: 920px;
    }
}

body {
    padding-top: 0px;
    padding-bottom: 0px;
    color: #666;
    -webkit-font-smoothing: antialiased;
    font-smoothing: antialiased;
    font-family: 'Open Sans', sans-serif;
    font-size:  17px;
    line-height: 1.85;
}

body a {
    text-decoration: none;
}

h1,
h2,
h3,
h4 {
    font-family: 'Montserrat', sans-serif;
    line-height: 1.4;
}

.lead {
    font-size: 22px;
    line-height: 1.95;
}

hr {
    border-width: 5px;
}

/*Components*/

.btn {
    border-radius: 4px;
}

.btn-primary {
    border-color: transparent;
    background-color: #9B9B9B;
}

.btn-primary:hover {
    background-color: #4A4A4A;
}

.secondary-color {
    color: #7f7f7f;
}

.weak {
    font-weight: normal;
}

.bold {
    font-weight: bold;
}

.light {
    color: #7f7f7f;
}

.section {
    padding-top: 75px;
    padding-bottom: 75px;
}

.section-top {
    padding-bottom: 0;
}

.section-bottom {
    padding-top: 0;
}

.section .overview-paragraph {
    padding-top: 10px;
    padding-bottom: 10px;
}

.segmented-controls {
    border: 2px solid #9B9B9B;
    color: #9B9B9B;
    border-radius: 4px;
}

.segmented-controls--control {
    width: 50%;
    float: left;
    padding: 8px 10x;
}

.segmented-controls--control.active {
    background-color: #9B9B9B;
    color: #fff;
}

.footer {
    padding-top: 80px;
    padding-bottom: 40px;
    color: #929090;
    text-align: center;
    border-top: 1px solid #e5e5e5;
    background-color: #fff;
    position: relative;
    z-index: 1;
}

.footer--email {
    color: #929090;
}

.footer .footer--lead {
    padding-bottom: 30px;
}

video {
    border-radius: 6px;
    overflow: hidden;
    margin-top: 30px;
}


@media (max-width: 768px) {
    .footer {
        margin-top: 0px;
    }
}

/*Custom*/

/*HEADER*/

.work-overview,
.about {
    background-color: #fff;
    z-index: 1;
    position: relative;
}

.header--container {
    position: relative;
    z-index: 0;
}

.header--container h1 {
    font-size: 52px;
}

.header--container h2 {
    font-size: 35px;
    margin-top: 0;
}

.main-overview .iphone-mock-hand {
    position: absolute;
    bottom: -205px;
    -webkit-animation: iphoneMove 1s;
    animation: iphoneMove 1s, iphoneRotate 1s;
    -webkit-animation-timing-function: ease-in-out;
    animation-timing-function: ease-in-out;
    transform: rotate(1deg);
}

.main-overview--sub-title {
    line-height: 1.5;
    padding-top: 30px;
    padding-bottom: 85px;
}

.main-overview--city {
    padding-top: 30px;
    line-height: 1.5;
    font-size: 52px;
    margin-bottom: -10px;
    margin-top: 0;
}

@media (min-width: 990px) {

    .main-overview--sub-title {
        padding-bottom: 35px;
    }
}

@media (max-width: 767px) {

    .header--container {
        color: #666;
        background-color: #fff;
    }
}

.main-overview a {
    color: #C97C70;
}

.sub-overview {
    z-index: 1;
    position: relative;
    background-color: #fff;
}

.sub-overview--container {
    min-height: 120px;
    border-bottom: 1px solid #eee;
    z-index: 1;
    position: relative;
}

@media (min-width: 767px) {

    .jumbotron {
        height: 520px;
        z-index: -10;
        position: relative;
        margin: 0;
        color: #C97C70;
        background-color: #E7ADA5;
    }

    .jumbotron--container {
        position: fixed;
        top: 0;
        left: 0;
        right: 0;
        color: #C97C70;
        background-color: #E7ADA5;
        padding-top: 150px;
        z-index: -10;
    }

    .sub-overview--name {
        height: 0;
        overflow: hidden;
        margin: 0;
        padding: 0;
        max-height: 30px !important;
        line-height: 1.1;
    }
}


@media (max-width: 767px) {

    body {
        padding: 0;
    }

    .jumbotron {
        padding: 0;
    }

    .main-overview--sub-title {
        padding-bottom: 35px;
    }

    .section {
        padding-top: 30px;
        padding-bottom: 30px;
    }

    .section.section-top {
        padding-bottom: 0;
    }

    .section.section-bottom {
        padding-top: 0;
    }

    .container {
        padding-left: 30px;
        padding-right: 30px;
    }

    .header {
        margin-top: 0px;
        padding-top: 20px;
        position: relative;
        z-index: 0;
    }

    .header h1,
    .header h2,
    .header h3 {
        line-height: 1.2;
    }

    .header--container {
        padding-top: 30px;
        padding-bottom: 30px;
        position: relative;
        z-index: 0;
    }

    .sub-header--container {
        background-color: #E7ADA5;
        color: #F8F4F4;
        padding-top: 35px;
        padding-bottom: 35px;
    }

    .sub-header--container h2 {
        font-size: 52px;
    }

    .main-overview {
        background-color: #8F5BA1;
        color: #E7ADA5;
    }

    .main-overview--sub-title a {
        color: #E7ADA5;
    }

    .main-overview--sub-title {
        padding-top: 25px;
    }

}

.sub-header--container .label {
    background-color: #C97C70;
}

.influence .influence--header {
    margin: 20px 0 30px 0;
}

.bordered-bottom li {
    border-bottom: 2px solid #eee;
    padding: 20px 0;
}

.bordered-bottom li:last-of-type {
    border-bottom: 0;
}


/* SUB OVERVIEW */

.sub-nav {
    padding-top: 20px;
    padding-bottom: 30px;
}

.sub-nav .segmented-controls {
    margin-top: 20px;
}

/* HEALTHYOUT */

.healthyout-jumbotron {
    background-color: #47C965;
    color: #fff;
    padding-top: 90px;
}

.healthyout-jumbotron .logo {
    width: 70%;
    margin-top: 20%;
}

.healthyout-overview {
    padding-top: 150px;
}

.work-header--sub-head {
    padding-top: 27px;
    font-size: 23px;
    line-height: 1.5;
}

.healthyout-screens {
    background-color: #F4F5F3;
}

.screenshot--img {
    margin: 30px 0 25px 0;
}

.screenshot--sub-header {
    font-size: 15px;
}

.screenshot--icon {
    margin-top: 10px;
}

@media (max-width: 767px) {
    .healthyout-jumbotron .logo {
        width: 80%;
    }

    .healthyout-overview {
        padding-top: 60px;
    }

    .wireframe img {
        margin-top: 15px;
    }

}

/* CrowdSurge */

.crowdsurge-jumbotron {
    padding-top: 100px;
    padding-bottom: 60px;
    background: #ededed;
    background: -moz-radial-gradient(bottom, ellipse cover, #ededed 0%, #ffffff 50%);
    background: -webkit-gradient(radial, bottom bottom, 0px, bottom bottom, 50%, color-stop(0%,#ededed), color-stop(50%,#ffffff));
    background: -webkit-radial-gradient(bottom, ellipse cover, #ededed 0%,#ffffff 50%);
    background: -o-radial-gradient(bottom, ellipse cover, #ededed 0%,#ffffff 50%);
    background: -ms-radial-gradient(bottom, ellipse cover, #ededed 0%,#ffffff 50%);
    background: radial-gradient(ellipse at bottom, #ededed 0%,#ffffff 50%);
    filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#ededed', endColorstr='#ffffff',GradientType=1 );
}

.crowdsurge-jumbotron--header {
    padding-top: 40px;
    font-size: 60px;
    line-height: 1;
}

.crowdsurge-work .video-embed-conatiner {
    border-radius: 8px;
    overflow: hidden;
}

@media (max-width: 990px) {

    .crowdsurge-jumbotron--header {
        padding-top: 20px;
        font-size: 40px;
    }

    .crowdsurge-jumbotron--sub-header {
        padding-bottom: 40px;
    }
}

@media (max-width: 767px) {

    .crowdsurge-jumbotron {
        padding-top: 40px;
    }

    .crowdsurge-jumbotron--header {
        padding-top: 0px;
    }

}

.usability-example {
    padding: 20px 0;
}

.usability-example--header {
    padding-top: 0;
    margin-top: 0;
}

.crowdsurge-visual-design {
    background-color: #FEEEEE;
}

.crowdsurge-visual-design hr {
    border-color: #D06371;
}

.crowdsurge-visual-design--header {
    color: #D06371;
}

@media (max-width: 767px) {
    .crowdsurge-visual-design--image {
        padding: 30px;
    }
}

.iphone-family {
    position: relative;
    z-index: 1;
}

.gif-container {
    position: absolute;
    background-color: red;
    width: 30%;
    height: 73.5%;
    z-index: 0;
    top: 11%;
    left: 50%;
    margin-left: -16%;
}

.gif-container img {
    position: absolute;
    width: 100%;
    height: 102%;
    left: 0;
    top: -1px;
}
