body {
  padding-top: 0px;
  padding-bottom: 0px;
  color: #363536;
  -webkit-font-smoothing: antialiased;
  font-smoothing: antialiased;
  font-family: 'PT Sans', sans-serif;
}

body a {
  text-decoration: none;
}

/*Components*/

.secondary-color {
    color: #7f7f7f;
}

.weak {
    font-weight: normal;
}

.bold {
    font-weight: bold;
}

.light {
    color: #7f7f7f;
}

.section {
    padding-top: 4%;
    padding-bottom: 4%;
}

.section h1,
.section h2 {
    line-height: .9;
}

.section p {
    line-height: 2;
    color: #7f7f7f;
}

/*Custom*/

.header h1 {
    font-size: 55px;
    text-transform: uppercase;
}

.header h2 {
    font-size: 35px;
}

.header .iphone-mock--container {
    position: relative;
    margin-top: -110px;
}

.header .iphone-mock--container .iphone-mock {
    position: absolute;
    width: 200px;
    top: 0px;
    right: 0px;
}

@media (min-width: 767px) {
    .header {
        margin-top: 0px;
        padding-top: 190px;
        padding-bottom: 35px;
        position: relative;
        z-index: 0;
        background-color: #E7ADA5;
        color: #F8F4F4;
    }
}

@media (max-width: 767px) {

    body {
        padding: 0;
    }

    .container {
        padding-left: 30px;
        padding-right: 30px;
    }

    .header {
        margin-top: 0px;
        padding-top: 20px;
        padding-bottom: 20px;
        position: relative;
        z-index: 0;
    }

    .header h1,
    .header h2,
    .header h3 {
        line-height: 1.2;
    }

    .header--container {
        padding-bottom: 20px;
    }

    .sub-header--container {
        background-color: #E7ADA5;
        color: #F8F4F4;
        padding-top: 30px;
        padding-bottom: 30px;
    }

    .sub-header--container h2 {
        font-size: 55px;
    }
}

.main-overview--sub-title {
    line-height: 1.5;
    padding-top: 30px;
    padding-bottom: 30px;
}

.main-overview--city h1 {
    line-height: 1.5;
    font-size: 55px;
}
