<div class="section" id="introduction">
    <div class="container">
        <div class="row">

            <div id="profile" class="span3 offset1 hidden-phone center">
                <img class="img-circle vertical-align-center pull-left" src="img/profile.png">
            </div>

            <div class="span7">
                <h1>Joey Isaacson.</h1>
                <h2 class="weak">A designer of the web, for the people.</h2>
                <hr>
                <h3 class="hidden-phone weak secondary-color">Through rapid prototyping, designing and testing, I help make complex products easier for people to use.</h3>
            </div>

            <h3 class="visible-phone weak">I am currently employed and living in San Francisco until mid-September but will be available for hire in New York starting October 1st. If you have any questions, please contact me at <span class="bold">joey.a.isaacson@gmail.com</span></h3>

        </div>
    </div>

    <div id="resume" class="row visible-phone">
        <hr>
        <div class="span5 offset5 center">
            <h3 class="weak">View my resume on
                <a target="blank" href="http://www.linkedin.com/pub/joe-isaacson/1a/304/125">LinkedIn</a>
                or download a
                <a target="blank "href="Joey-Isaacson-UX-Designer.pdf">PDF</a>
            </h3>
        </div>
    </div>
</div>

<div id="work-overview" class="hidden-phone">
    <div class="container">
        <div class="row section">
            <div class="span3 offset1">
                <img src="img/healthyout/iphone-mock.png" alt="healthyout iphone"/>
            </div>

            <div class="span6 offset1">
                <h1>HealthyOut</h1>
                <h3>Interactive Mobile Designer</h3>
                <hr>
                <p>I helped bring a concept to life and to the 10 food apps list of the iTunes AppStore. With HealthyOut you can create your own, flexible healthy diet by searching local restaurant dishes.</p>
                <br>
                <a href="https://itunes.apple.com/us/app/healthyout-free-restaurant/id566409966?mt=8">
                    <img id="appstore" src="img/icons/appstore.png">
                </a>
                <a class="btn btn-large btn-primary cta" ng-href="/app/index.html#/healthyout">View the work</a>
            </div>
        </div>

        <hr>

        <div class="row section">
            <div class="span6">
                <a ng-href="/app/index.html#/houseplans">
                    <img src="img/houseplans/houseplans.png">
                </a>
            </div>

            <div class="span5 offset1">
                <h1>Houseplans</h1>
                <h3>Lead Interactive Designer</h3>
                <hr>
                <p>What happens when you want customized architecture without the heavy price tag?</p>
                <p>For the past 8 months, I have been working to bring affordable architecture to everyone.</p>
                <br>
                <a ng-href="/app/index.html#/houseplans">
                    <div class="btn btn-large btn-primary cta">Learn more</div>
                </a>
            </div>
        </div>

        <hr>

        <div class="row section">
            <div class="span7">
                <h1>IKEA FloorPlan</h1>
                <hr>
                <p>Too often we go shopping for furniture without knowing what we can fit in our own space. The specs of how long a dresser is useless unless you know the dimensions of your room.
                <br>
                <br>
                <p>The IKEA Floor Plan app ensures that you never shop again without knowing the dimensions of your room.</p>
                <br>
                <a ng-href="/app/index.html#/ikea">
                    <div class="btn btn-large btn-primary cta">View the concept
                    </div>
                </a>
            </div>

            <div class="span5">
                <a ng-href="/app/index.html#/ikea">
                    <img src="img/IKEA/IKEA_HEADER.png">
                </a>
            </div>
        </div>
    </div>
</div>

<div id="mobile-warning" class="visible-phone">
    <div class="row">
        <h4 class="weak">Thank you for viewing this site on your mobile device, but I <i>highly</i> reccomend you wait until you can view it on a desktop computer.</span>
    </div>

    <div class="row">
        <span id="show-mobile-content" class="btn btn-large btn-white">Just show me the work</span>
    </div>
</div>

<!--Mobile Work (Hidden on Desktop)-->

<div id="work-mobile" class="hidden">

    <div class="section" id="healthyout">
        <div class="container">
            <div class="row">
                <div class="span4 offset1 hidden-phone">
                    <a class="btn btn-large btn-white" href="healthyout.php">
                        <img src="img/healthyout/iphone-mock.png">
                    </a>
                </div>

                <div class="span6">
                    <h1>HealthyOut</h1>
                    <hr>
                    <h4 class="bold">Jr Interactive Designer</h4>
                    <h4>I helped bring a concept to life as it made it into the top 10 food apps of the iTunes AppStore.</h4>
                    <div class="span3 cta">
                        <a class="btn btn-large btn-inverse" href="healthyout.php">Learn More</a>
                    </div>
                </div>
            </div>
        </div>
    </div>

    <div class="section" id="sortey">
        <div class="container" >
            <div class="row">
                <div class="span5">
                    <h1>SORTEY</h1>
                    <hr>
                    <h4 class="bold">Have you ever seen a product before but can't remember where you saw it?</h4>
                    <h4 class="weak">Sortey is the brainchild of our General Assembly UX class, and now a concept in development.</h4>
                    <a href="http://sortey.com"><div class="btn btn-large btn-inverse">View the concept</div></a>
                </div>

                <div class="span7 hidden-phone">
                    <img src="img/sortey.png">
                </div>
            </div>
        </div>
    </div>

    <div class="section" id="houseplans">
        <div class="container">
            <div class="row">
                <div class="span4 center hidden-phone">
                    <a href="houseplans.php">
                        <img src="img/houseplans/icon.png">
                    </a>
                </div>

                <div class="span5 offset1">
                    <h1>HOUSEPLANS</h1>
                    <hr>
                    <h4 class="bold">What happens when you want customized architecture without the heavy price tag?</h4>
                    <h4 class="weak">For the past 8 months, I have been working to bring affordable architecture to everyone.</h4>
                    <div class="cta">
                        <a class="btn btn-large btn-inverse" href="houseplans.php">Learn More</a>
                    </div>
                </div>
            </div>
        </div>
    </div>

    <div class="section" id="ikea">
        <div class="container">
            <div class="row">
                <div class="span4 offset1">
                <h1>IKEA Floor Map</h1>
                <hr>
                <h4>Never shop again without knowing the dimensions of your room.</h4>
                    <div class="span3 cta">
                        <a class="btn btn-large btn-white" href="IKEA.php">View the concept</a>
                    </div>
                </div>

                <div class="span6 hidden-phone">
                    <a href="/IKEA.php">
                        <img src="img/IKEA/IKEA_HEADER.png">
                    </a>
                </div>
            </div>
        </div>
    </div>
</div>
