<div class="header">
    <div class="header--container container">
        <div class="row">
            <div class="col-sm-7">
                <h1>Joey Isaacson</h1>
            </div>
            <div class="iphone-mock--container col-sm-5 hidden-xs">
                <img class="iphone-mock" src="img/iPhone-6-mock.png">
            </div>
        </div>
    </div>
    <div class="sub-header--container container">
        <div class="row">
            <div class="col-sm-8">
                <h2>Product Designer</h2>
            </div>
        </div>
    </div>
</div>


<div class="main-overview">

    <div class="main-overview--city container visible-xs">
        <h1>Brooklyn, NY</h1>
    </div>

    <div class="main-overview--intro container">
        <div class="row">
            <div class="col-sm-8">
                <h4 class="main-overview--sub-title weak">Based in Brooklyn, NY, I am available for hire as of 9/12/14 please contact me at
                    <span class="bold">joey.a.isaacson@gmail.com</span>
                </h4>
            </div>
        </div>
    </div>
</div>

<div class="work-overview">
    <div class="container">
        <div class="row">
            <div class="col-sm-4">
                <img class="iphone-mock img-responsive" src="img/iPhone-6-healthyout.png">
            </div>
            <div class="col-sm-7"></div>
        </div>
    </div>
</div>
