<div class="header">
    <div class="header--container container">
        <div class="row">
            <div class="col-sm-8">
                <h1>Joey Isaacson</h1>
            </div>
        </div>
    </div>

    <div class="sub-header--container container">
        <div class="row">
            <div class="col-sm-8">
                <h2>Product Designer</h2>
            </div>
        </div>
    </div>
</div>

<div class="main-overview">
    <div class="main-overview--intro container">
        <div class="row">
            <div class="col-sm-7">
                <h1 class="main-overview--city visible-xs">Brooklyn, NY</h1>
                <h4 class="main-overview--sub-title">Based in Brooklyn, NY<br>
                    Available for hire as of 9/12/14<br>
                    <span class="bold">joey.a.isaacson@gmail.com</span>
                </h4>
            </div>
            <div class="col-sm-5 hidden-xs">
                <img class="iphone-mock-hand img-responsive" src="img/CDV.png">
            </div>
        </div>
    </div>
</div>

<div id="sub-overview" class="sub-overview">
    <div class="container">
        <div class="row">
            <div class="sub-nav col-xs-12">
                <ul class="segmented-controls nav">
                    <li class="segmented-controls--control text-center" ng-class="{'active': location === 'home' }" ui-sref="home">
                        <span class="hidden-xs">My</span>
                        Work
                    </li>
                    <li class="segmented-controls--control text-center" ng-class="{'active': location === 'about' }" ui-sref="about">
                        About
                        <span class="hidden-xs">me</span>
                    </li>
                </ul>
            </div>
        </div>
    </div>
</div>

<div id="sub-overview-fixed" class="sub-overview-fixed fixed compressed">
    <div class="container">
        <div class="row">
            <div class="sub-nav col-xs-12">
                <h3 id="sub-overview--name" class="sub-overview--name"><a href="/#">Joey Isaacson</a></h3>
                <ul class="segmented-controls nav">
                    <li class="segmented-controls--control text-center" ng-class="{'active': location === 'home' }" ui-sref="home">
                        <span class="hidden-xs">My</span>
                        Work
                    </li>
                    <li class="segmented-controls--control text-center" ng-class="{'active': location === 'about' }" ui-sref="about">
                        About
                        <span class="hidden-xs">me</span>
                    </li>
                </ul>
            </div>
        </div>
    </div>
</div>
