<div id="body-container" class="crowdsurge-jumbotron">
    <div class="container">
        <div class="work-header row">
            <div class="col-sm-6 text-center visible-xs">
                <h1 class="crowdsurge-jumbotron--header">CrowdSurge</h1>
                <h2 class="crowdsurge-jumbotron--sub-header">Ticket Platform Redesign</h2>
            </div>
            <div class="col-sm-5">
                <img class="img-responsive" src="img/crowdsurge/crowdsurge-iphone-family-mock.jpg">
            </div>
            <div class="col-sm-7 text-center hidden-xs">
                <h1 class="crowdsurge-jumbotron--header">CrowdSurge</h1>
                <h2 class="crowdsurge-jumbotron--sub-header">Ticket Platform Redesign</h2>
            </div>
        </div>
    </div>
</div>

<div class="crowdsurge-overview container section">
    <div class="row">
        <div class="col-md-10 col-sm-12 col-md-offset-1">
            <p class="lead text-center">Tasked with increasing conversion rates accross our global ticketing platform, we designed and built a more effecient product through rapid prototyping.</p>
        </div>
    </div>
</div>

<div class="crowdsurge-e-commerce container section">
    <h3>E-Commerce Web App</h3>
    <hr>
    <div class="row">
        <div class="col-sm-8">
            <p>As the leader of the re-design of our global ticketing platform there we started from the beginning while supporting the current business needs.</p>
            <p>The design was lead with a straightforth process of looking at how people were buying tickets with us (and competitors.)</p>
            <p>By identifying the pitfalls of the current design and not succumbing to edge cases we were able to re-design the platform around a users wants and needs, and not the business needs.</p>
        </div>
        <div class="col-sm-4">
            <img class="img-responsive" src="img/crowdsurge/event-details.jpg"/>
        </div>
    </div>
</div>

<hr>

<div class="rapid-prototyping container section">
    <div class="row">

        <div class="col-md-5">
            <h2 class="">Lean Design Process</h2>
            <p>By creating rough prototypes in HTML / JavaScript, we were able to gather real reactions from real users. Testing these concepts on women above the age of 55 was a great reality check to a lot of design directions that we were unsure of (view the video below!)</p>
            <p>Learn more about the agile design process I implemented
                <a href="https://medium.com/@joey_isaacson/creating-an-agile-design-process-1b68b0e11bfe" target="blank">here</a>
            </p>
        </div>

        <div class="col-md-7">
            <video width="100%" height="auto" controls>
                  <source src="http://joeisaacson.com/ticket-select-user-testing.mp4" type="video/mp4">
                  <source src="movie.ogg" type="video/ogg">
                  Your browser does not support the video tag.
            </video>
            <p>
                <small>
                    <i>Actual usabilty test of one of our (many) design concepts made</i>
                </small>
            </p>
        </div>
    </div>

</div>

<div class="crowdsurge-visual-design">
    <div class="container section">
        <div class="row">

            <div class="col-sm-6">
                <h2 class="crowdsurge-visual-design--header">Visual Design Components</h2>
                <hr>
                <p>As a white label product that is customized by our clients (ranging from Paul McCartney to Kendrick Lamar) it was important to make sure that the visual design followed the hierrarchy of the most important design elements.
                </p>
                <br>
                <p>By testing custom implementations of the platform I created a set of rules and best practices that allowed our visual designers to easily balance the clients brand design and the design of the application.</p>
            </div>

            <div class="col-sm-5 col-sm-offset-1">
                <img class="crowdsurge-visual-design--image img-responsive" src="img/crowdsurge/pharrell-mock.png"/>
            </div>

        </div>
    </div>
</div>

<div class="container section section-top text-center">
    <div class="visible-xs">
        <a ui-sref="home.work" class="btn btn-default btn-block">
            <span class="glyphicon glyphicon-circle-arrow-left"></span>
            View all of my work
        </a>
    </div>
    <div class="hidden-xs">
        <span ui-sref="home.work" class="glyphicon glyphicon-circle-arrow-left"></span>
        <p>View all of my work <a ui-sref="home.work">here</a></p>
    </div>
</div>
