<div id="body-container" class="crowdsurge-jumbotron">
    <div class="container">
        <div class="work-header row">
            <div class="col-sm-6 text-center visible-xs">
                <h1 class="crowdsurge-jumbotron--header">CrowdSurge</h1>
                <h2 class="crowdsurge-jumbotron--sub-header">Ticket Platform Redesign</h2>
            </div>
            <div class="col-sm-5">
                <img class="img-responsive" src="img/crowdsurge/crowdsurge-iphone-family-mock.jpg">
            </div>
            <div class="col-sm-7 text-center hidden-xs">
                <h1 class="crowdsurge-jumbotron--header">CrowdSurge</h1>
                <h2 class="crowdsurge-jumbotron--sub-header">Ticket Platform Redesign</h2>
            </div>
        </div>
    </div>
</div>

<div class="crowdsurge-overview container section">
    <div class="row">
        <div class="col-md-10 col-sm-12 col-md-offset-1">
            <p class="lead text-center">Tasked with increasing conversion rates accross our global ticketing platform, we designed and built a more effecient product through rapid prototyping.</p>
        </div>
    </div>
</div>

<div class="crowdsurge-e-commerce container section">
    <h3>E-Commerce Web App</h3>
    <hr>
    <div class="row">
        <div class="col-sm-8">
            As the leader of the re-design of our global ticketing platform, we started from the beginning while supporting the current business needs.
            The design was lead with a straightforth process of looking at how people were buying tickets with us (and competitors.)
            By iden
        </div>
        <div class="col-sm-4">
            <img class="img-responsive" src="img/crowdsurge/event-details.jpg"/>
        </div>
    </div>
</div>

<div class="crowdsurge-visual-design">
    <div class="container section">
        <div class="row">
            <div class="col-sm-6">
                <h2 class="crowdsurge-visual-design--header">Visual Design Components</h2>
                <hr>
                <p>As a white label product that is customized by our clients (ranging from Paul McCartney to Kendrick Lamar) it was important to make sure that the visual design followed the hierrarchy of the most important design elements.
                </p>
                <br>
                <p>By testing custom implementations of the platform I created a set of rules and best practices that allowed our visual designers to easily balance the clients brand design and the applications design.</p>
            </div>
            <div class="col-sm-5 col-sm-offset-1">
                <img class="img-responsive" src="img/crowdsurge/pharrell-mock.png"/>
            </div>
        </div>
    </div>
</div>
