<div id="body-container" class="crowdsurge-jumbotron">
    <div class="container">
        <div class="work-header row">
            <div class="col-sm-6 text-center visible-xs">
                <h1 class="crowdsurge-jumbotron--header">CrowdSurge</h1>
                <h2 class="crowdsurge-jumbotron--sub-header">Ticket Platform Redesign</h2>
            </div>
            <div class="col-sm-5">
                <img class="iphone-family img-responsive" src="img/crowdsurge/iPhone-multiple.png">
                <div class="gif-container">
                    <img class="crowdsurge-gif" src="img/crowdsurge/overview.gif">
                </div>
            </div>
            <div class="col-sm-7 text-center hidden-xs">
                <h1 class="crowdsurge-jumbotron--header">CrowdSurge</h1>
                <h2 class="crowdsurge-jumbotron--sub-header">Ticket Platform Redesign</h2>
            </div>
        </div>
    </div>
</div>

<div class="crowdsurge-overview container section">
    <div class="row">
        <div class="col-md-10 col-sm-12 col-md-offset-1">
            <p class="lead text-center">By creating an agile design process that allowed us to rapidly build and test prototypes, we made it easier for our clients fans to buy tickets.</p>
        </div>
    </div>
</div>

<div class="rapid-prototyping container section">
    <div class="row">
        <div class="col-md-5">
            <h3 class="">Rapid Prototyping</h3>
            <hr>
            <p>Using HTML / JavaScript prototypes I created, we were able to gather real reactions that gave us clear feedback as to which design directions were effective. Learn more about the agile design process I implemented
                <a href="https://medium.com/@joey_isaacson/creating-an-agile-design-process-1b68b0e11bfe" target="blank">here</a>
            </p>
        </div>
        <div class="col-md-6 col-md-offset-1">
            <video width="100%" height="auto" controls>
                  <source src="http://joeisaacson.com/ticket-select-user-testing.mp4" type="video/mp4">
                  <source src="movie.ogg" type="video/ogg">
                  Your browser does not support the video tag.
            </video>
            <p>
                <small>
                    <i>Actual usabilty test of one of our (many) design concepts made</i>
                </small>
            </p>
        </div>
    </div>
</div>

<div class="crowdsurge-e-commerce container section">
    <div class="row">
        <div class="col-sm-4 hidden-xs">
            <img class="img-responsive" src="img/crowdsurge/iPhone-6-mock-slant.png">
        </div>
        <div class="col-sm-7 col-sm-offset-1">
            <h2>Revamped e-commerce experience</h2>
            <hr>
            <p>As the leader of the re-design of our global ticketing platform, we started from the beginning of supporting our core online business and then expanded into the physical with a complete, end to end POS system for people buying tickets in person.</p>
        </div>
    </div>
</div>

<div class="usability-examples container">

    <div class="section">
        <div class="usability-example row">
            <div class="col-sm-5">
                <img class="img-responsive" src="img/crowdsurge/1_flow.jpg">
            </div>
            <div class="col-sm-7">
                <h3 class="usability-example--header">1. Conversational User Flow</h3>
                <hr>
                <p>Breaking down the ticket selection process into a series of simple steps made the process less overwhelming and more efficient way to navigate our ticketing API.<p>
            </div>
        </div>
    </div>

    <div class="section">
        <div class="usability-example row">
            <div class="col-sm-5">
                <img class="img-responsive" src="img/crowdsurge/2_ticket-select.jpg">
            </div>
            <div class="col-sm-7">
                <h3 class="usability-example--header">2. Mobile First Components</h3>
                <hr>
                <p>Having originally started out with non-mobile friendly components like drop down selects and inputs, we broke away from them which allowed us greater control of the presentation of data and a fewer steps in the ticket select process.</p>
            </div>
        </div>
    </div>

    <div class="section">
        <div class="usability-example row">
            <div class="col-sm-5">
                <img class="img-responsive" src="img/crowdsurge/3_registration.jpg">
            </div>
            <div class="col-sm-7">
                <h3 class="usability-example--header">3. Streamlined Registration</h3>
                <hr>
                <p>With 83% of ticket sales coming from new customers, we streamlined our registration process for new users and make it easier for existing customers to login.</p>
                <p>1. Before continuing through the existings registration process, we ensure that you are not an existing customer.</p>
                <p>2. If you are an existing customer but don't realize it, you are automatically alerted and switched to the sign in interface.</p>
            </div>
        </div>
    </div>
</div>

<div class="crowdsurge-visual-design">
    <div class="container section">
        <div class="row">
            <div class="col-sm-6">
                <h2 class="crowdsurge-visual-design--header">Authentic Brand Integraitons</h2>
                <hr>
                <p>As a white label product that is customized by our clients (ranging from Paul McCartney to Kendrick Lamar) it was important to make sure that the visual design followed the hierrarchy of the most important design elements.
                </p>
                <br>
                <p>By testing custom implementations of the platform I created a set of rules and best practices that allowed our visual designers to easily balance the clients brand design and the design of the application.</p>
            </div>
            <div class="col-sm-5 col-sm-offset-1">
                <img class="crowdsurge-visual-design--image img-responsive" src="img/crowdsurge/pharrell-mock.png"/>
            </div>
        </div>
    </div>
</div>

<div class="container section section text-center">
    <div class="visible-xs">
        <a ui-sref="home.work" class="btn btn-default btn-block">
            <span class="glyphicon glyphicon-circle-arrow-left"></span>
            View all of my work
        </a>
    </div>
    <div class="hidden-xs">
        <h3><span ui-sref="home.work" class="glyphicon glyphicon-circle-arrow-left"></span></h3>
        <h3>View all of my work <a ui-sref="home.work">here</a></h3>
    </div>
</div>
