<div class="healthyout--header">
    <div class="container">
        <div class="work-header row">
            <div class="col-sm-7 text-center">
                <img class="logo" src="img/healthyout/healthyout-logo.png">
            </div>
            <div class="col-sm-5">
                <img class="img-responsive" src="img/healthyout/healthyOut-iPhone-large.png">
            </div>
        </div>
    </div>
</div>

<div class="container section">
    <p>Working closely with the co-founder of HealthyOut, @wdot, we were able to take HealthyOut from a rough, low-fidelity wireframe to a polished app that made it into the top 10 food apps on the Apple AppStore.</p>
    <br>
    <p>Below are the high fidelity wireframes and visual designs for the On-boarding process and Search process that started from rough concepts on napkins, envelopes and discussions via Skype.</p>
</div>
