<div id="body-container" class="healthyout-jumbotron">
    <div class="container">
        <div class="work-header row">
            <div class="col-sm-6 col-sm-offset-1 text-center">
                <img class="logo" src="img/healthyout/healthyout-logo.png">
                <p class="work-header--sub-head">Find healthy food <br>on the go</p>
            </div>
            <div class="col-sm-4 col-xs-8 col-xs-offset-2 col-sm-offset-0">
                <img class="img-responsive" src="img/healthyout/iPhone-6-healthyOut.png">
            </div>
        </div>
    </div>
</div>

<div class="healthyout-overview container section">
    <div class="row">
        <div class="col-sm-10 col-sm-offset-1 text-center">
            <p class="lead">Working closely with the co-founder of HealthyOut, <a href="https://twitter.com/wdot" target="blank">@wdot</a>, we took HealthyOut from a concept to one of the top 10 food apps on the AppStore.</p>
        </div>
    </div>
</div>

<div class="container section section-top">
    <div class="row">
        <div class="col-sm-6">
            <h3>Designed for the problem at hand</h3>
            <hr>
            <p>We designed HealthyOut because finiding healthy food amongst an endless list of take-out options is far from easy. With a mobile only approach, we designed around pre-existing takeout behaviors and modified them to eliminate junk food.</p>
        </div>
        <div class="col-sm-5 col-sm-offset-1 hidden-xs">
            <img class="img-responsive" src="img/healthyout/healthyOut-iPhone-large.png">
        </div>
    </div>
</div>

<div class="healthyout-screens section">
    <div class="section container">
        <div class="row">
            <div class="screenshot col-sm-3 text-center">
                <h4 class="screenshot--header">Search near you</h4>
                <i class="screenshot--icon fa fa-2x fa-search"></i>
                <img class="screenshot--img img-responsive img-rounded" src="img/healthyout/screenshots/1.jpg">
                <p class="screenshot--sub-header">Find your healthy eateries nearby in one step.</p>
            </div>
            <div class="screenshot col-sm-3 text-center">
                <h4 class="screenshot--header">Yelp reviews included</h4>
                <i class="screenshot--icon fa fa-2x fa-yelp"></i>
                <img class="screenshot--img img-responsive img-rounded" src="img/healthyout/screenshots/3.jpg">
                <p class="screenshot--sub-header">Mdecisions on the same platform you have grown to trust.</p>
            </div>
            <div class="screenshot col-sm-3 text-center">
                <h4 class="screenshot--header">Filter map results</h4>
                <i class="screenshot--icon fa fa-2x fa-map-marker"></i>
                <img class="screenshot--img img-responsive img-rounded" src="img/healthyout/screenshots/4.jpg">
                <p class="screenshot--sub-header">List specific dietary restrictions and shorten a long list within your local neighborhood.</p>
            </div>
            <div class="screenshot col-sm-3 text-center">
                <h4 class="screenshot--header">Nutrition by the meal</h4>
                <i class="screenshot--icon fa fa-2x fa-pie-chart"></i>
                <img class="screenshot--img img-responsive img-rounded" src="img/healthyout/screenshots/5.jpg">
                <p class="screenshot--sub-header">Make sure the actual meal is healthy by checkout out the nutritional breakdown.</p>
            </div>
        </div>
    </div>
</div>

<div class="healthyout-wireframes container section">

    <div class="wireframe-row">

        <h3>Onboarding Flow</h3>
        <p>Joining HealthyOut was also about pre-defining your dietary restrictions. By selectig a pre-made set dietary preferences, you could avoid any meals outside of your dietary restrictions.</p>

        <hr>

        <div class="row">
            <div class="wireframe col-sm-3 col-xs-6">
                <img class="img-responsive" src="img/healthyout/wireframes/LF-onboard_1.jpg">
            </div>
            <div class="wireframe col-sm-3 col-xs-6">
                <img class="img-responsive" src="img/healthyout/wireframes/LF-onboard_2.jpg">
            </div>
            <div class="wireframe col-sm-3 col-xs-6">
                <img class="img-responsive" src="img/healthyout/wireframes/LF-onboard_3.jpg">
            </div>
            <div class="wireframe col-sm-3 col-xs-6">
                <img class="img-responsive" src="img/healthyout/wireframes/LF-onboard_4.jpg">
            </div>
        </div>
    </div>
</div>

<div class="healthyout-wireframes container section">

    <div class="wireframe-row">

        <h3>Search Flow</h3>
        <p>Search initally presented our biggest challenge because it is a combination of taste, pre-set dietary restrictions and additional search criteria which made it difficult. Ensuring that it was an iterative process that could be filtered by resturaunt, meal and by map locations makes it easier to find what you are looking for.</p>

        <hr>

        <div class="row">
            <div class="wireframe col-sm-3 col-xs-6">
                <img class="img-responsive" src="img/healthyout/wireframes/LF-search_1.jpg">
            </div>
            <div class="wireframe col-sm-3 col-xs-6">
                <img class="img-responsive" src="img/healthyout/wireframes/LF-search_2.jpg">
            </div>
            <div class="wireframe col-sm-3 col-xs-6">
                <img class="img-responsive" src="img/healthyout/wireframes/LF-search_3.jpg">
            </div>
            <div class="wireframe col-sm-3 col-xs-6">
                <img class="img-responsive" src="img/healthyout/wireframes/LF-search_4.jpg">
            </div>
        </div>
    </div>
</div>

<div class="healthyout-results container section">
    <div class="row">
        <div class="col-sm-6">
            <blockquote class="blockquote-reverse">
                <p>“Finally an app that helps me order tasty and healthy dishes nearby. The interface is beautiful and intuitive. I'm guessing the presence of this app on my phone will add at least 5 years to my life.”</p>
            </blockquote>
        </div>

        <div class="col-sm-4 col-sm-offset-1 text-center">
            <img class="img-responsive" src="img/healthyout/star_rating.jpg">
            <h3>1557 Reviews with a 4.5 out of 5 star rating</h3>
            <br>
            <a class="btn btn-default" href="https://itunes.apple.com/us/app/healthyout-free-restaurant/id566409966?mt=8" target="blank">View in the iTunes store</a>
        </div>
    </div>
</div>


<div class="container section section text-center">
    <div class="visible-xs">
        <a ui-sref="home.work" class="btn btn-default btn-block">
            <span class="glyphicon glyphicon-circle-arrow-left"></span>
            View all of my work
        </a>
    </div>
    <div class="hidden-xs">
        <h3><span ui-sref="home.work" class="glyphicon glyphicon-circle-arrow-left"></span></h3>
        <h3>View all of my work <a ui-sref="home.work">here</a></h3>
    </div>
</div>
