<div id="body-container" class="healthyout-jumbotron">
    <div class="container">
        <div class="work-header row">
            <div class="col-sm-7 text-center">
                <img class="logo" src="img/healthyout/healthyout-logo.png">
            </div>
            <div class="col-sm-5 col-xs-8 col-xs-offset-2 col-sm-offset-0">
                <img class="img-responsive" src="img/healthyout/healthyOut-iPhone-large.png">
            </div>
        </div>
    </div>
</div>

<div class="healthyout-overview container section">
    <div class="row">
        <div class="col-sm-10 col-sm-offset-1 text-center">
            <p class="lead">Working closely with the co-founder of HealthyOut, <a href="https://twitter.com/wdot" target="blank">@wdot</a>, we were able to take HealthyOut from a rough, low-fidelity wireframe to a polished app that made it into the top 10 food apps on the Apple AppStore.</p>
        </div>
    </div>
</div>

<div class="healthyout-work container section section-top">

    <div class="wireframe-row">
        <h2>Wireframes</h2>
        <p>Below are the wireframes for the On-boarding process and Search process that started from rough concepts on napkins, envelopes and discussions via Skype.</p>
        <hr>
        <h3>Onboarding Flow</h3>
        <div class="row">
            <div class="wireframe col-sm-3 col-xs-6">
                <img class="img-responsive" src="img/healthyout/wireframes/LF-onboard_1.jpg">
            </div>
            <div class="wireframe col-sm-3 col-xs-6">
                <img class="img-responsive" src="img/healthyout/wireframes/LF-onboard_2.jpg">
            </div>
            <div class="wireframe col-sm-3 col-xs-6">
                <img class="img-responsive" src="img/healthyout/wireframes/LF-onboard_3.jpg">
            </div>
            <div class="wireframe col-sm-3 col-xs-6">
                <img class="img-responsive" src="img/healthyout/wireframes/LF-onboard_4.jpg">
            </div>
        </div>
    </div>

    <hr>

    <div class="wireframe-row">

        <h3>Search Flow</h3>

        <div class="row">
            <div class="wireframe col-sm-3 col-xs-6">
                <img class="img-responsive" src="img/healthyout/wireframes/LF-search_1.jpg">
            </div>
            <div class="wireframe col-sm-3 col-xs-6">
                <img class="img-responsive" src="img/healthyout/wireframes/LF-search_2.jpg">
            </div>
            <div class="wireframe col-sm-3 col-xs-6">
                <img class="img-responsive" src="img/healthyout/wireframes/LF-search_3.jpg">
            </div>
            <div class="wireframe col-sm-3 col-xs-6">
                <img class="img-responsive" src="img/healthyout/wireframes/LF-search_4.jpg">
            </div>
        </div>
    </div>
</div>

<div class="healthyout-results container section">
    <div class="row">
        <div class="col-sm-6">
            <blockquote class="blockquote-reverse">
                <p>“Finally an app that helps me order tasty and healthy dishes nearby. The interface is beautiful and intuitive. I'm guessing the presence of this app on my phone will add at least 5 years to my life.”</p>
            </blockquote>
        </div>

        <div class="col-sm-4 col-sm-offset-1 text-center">
            <img class="img-responsive" src="img/healthyout/star_rating.jpg">
            <h3>1557 Reviews with a 4.5 out of 5 star rating</h3>
            <br>
            <a class="btn btn-default" href="https://itunes.apple.com/us/app/healthyout-free-restaurant/id566409966?mt=8" target="blank">View in the iTunes store</a>
        </div>
    </div>
</div>


<div class="container section section text-center">
    <div class="visible-xs">
        <a ui-sref="home.work" class="btn btn-default btn-block">
            <span class="glyphicon glyphicon-circle-arrow-left"></span>
            View all of my work
        </a>
    </div>
    <div class="hidden-xs">
        <h3><span ui-sref="home.work" class="glyphicon glyphicon-circle-arrow-left"></span></h3>
        <h3>View all of my work <a ui-sref="home.work">here</a></h3>
    </div>
</div>
