<div class="container">
    <div class="section section-bottom row">
        <div class="col-md-4 col-sm-5">
            <img src="img/iPhone-6-mock-crowdsurge.png" class="img-responsive">
        </div>
        <div class="col-md-7 col-sm-6 col-sm-offset-1">
            <h1>CrowdSurge Ticket Platform Redesign</h1>
            <p class="overview-paragraph">Improved the ticket buying experience for fans of Arcade Fire, Paul McCartney, Kendrick Lamar and many more.</p>
            <div class="row">
                <div class="col-sm-4">
                    <a class="btn btn-primary btn-block" ui-sref="crowdsurge">View</a>
                </div>
            </div>
        </div>
    </div>

    <hr>

    <div class="section row">
        <div class="col-md-8 col-sm-7 hidden-xs">
            <h1>HealthyOut iOS App</h1>
            <p class="overview-paragraph">I helped bring a concept to life and to the 10 food apps list of the iTunes AppStore. With HealthyOut you can create your own, flexible healthy diet by searching local restaurant dishes.</p>
            <div class="row">
                <div class="col-sm-4">
                    <a class="btn btn-primary btn-block" ui-sref="healthyout">View</a>
                </div>
                <div class="col-sm-4">
                    <a class="btn btn-default btn-block">Apple Store</a>
                </div>
            </div>
        </div>

        <div class="col-md-4 col-sm-5">
            <img src="img/healthyout/healthyOut-iPhone-small.png" class="img-responsive">
        </div>

        <div class="col-sm-7 visible-xs">
            <h1>HealthyOut iOS App</h1>
            <p class="overview-paragraph">Lorem Ipsum is simply dummy text of the printing and typesetting industry. Lorem Ipsum has been the industry's standard dummy text ever since the 1500s, when an unknown printer took a galley of type and scrambled it to make a type specimen book.</p>
            <div class="row">
            <div class="col-xs-6">
                <a class="btn btn-primary btn-block" ui-sref="healthyout">View</a>
            </div>
            <div class="col-xs-6">
                <a class="btn btn-default btn-block">Apple Store</a>
            </div>
            </div>
        </div>
    </div>
</div>
