<div class="row">
    <div class="col-sm-5">
        <img src="img/healthyout/healthyOut-iPhone.png" class="img-responsive">
    </div>
    <div class="col-sm-7">
        <h1>CrowdSurge Ticket Platform Redesign</h1>
        <p class="overview-paragraph">Lorem Ipsum is simply dummy text of the printing and typesetting industry. Lorem Ipsum has been the industry's standard dummy text ever since the 1500s, when an unknown printer took a galley of type and scrambled it to make a type specimen book.</p>
    </div>
</div>

<div class="section">
    <hr>
</div>

<div class="row">
    <div class="col-sm-7 hidden-xs">
        <h1>HealthyOut iOS App</h1>
        <p class="overview-paragraph">Lorem Ipsum is simply dummy text of the printing and typesetting industry. Lorem Ipsum has been the industry's standard dummy text ever since the 1500s, when an unknown printer took a galley of type and scrambled it to make a type specimen book.</p>
        <a class="btn btn-primary">View</a>
    </div>
    <div class="col-sm-5">
        <img src="img/healthyout/healthyOut-iPhone.png" class="img-responsive">
    </div>
    <div class="col-sm-7 visible-xs">
        <h1>HealthyOut iOS App</h1>
        <p class="overview-paragraph">Lorem Ipsum is simply dummy text of the printing and typesetting industry. Lorem Ipsum has been the industry's standard dummy text ever since the 1500s, when an unknown printer took a galley of type and scrambled it to make a type specimen book.</p>
    </div>
</div>
