<div class="jumbotron" id="houseplans">
    <div class="container">
        <div class="row">
            <div class="span6 offset1">
                <h1>Houseplans</h1>
                <h3>Lead Interactive Designer since October 2012</h3>
                <hr>
                <h3 class="weak">Architectural blueprints for the masses.</h3>
            </div>

            <div class="span4 hidden-phone">
                <img src="img/houseplans/houseplans_alt.png">
            </div>
        </div>
    </div>
</div>

<div class="container">
    <div class="row paragraph-overview">
        <div class="span10 offset1 paragraph-font secondary-color">
            <h3 class="weak">For the past year I have been working at Houseplans.com, an ambitious company determined to bring architectural blueprints to the masses.<br><br>Starting with a barebones e-commerce platform, I lead the visual re-branding and user experience re-design so that people could search, save and share architectural plans faster than before.</h3>
            <br>
        </div>
    </div>

    <div class="row">
        <div class="span2 offset1 hidden-phone">
            <img src="img/houseplans/2.png">
        </div>

        <div class="span8">
            <h3 class="bold">Designed the new brand guidelines</h3>
            <p>Starting from scratch I developed the new brand guidelines and UI pattern libraries that are still referenced today.</p>
        </div>
    </div>

    <hr>

    <div class="row">
        <div class="span2 offset1 hidden-phone">
            <img src="img/houseplans/3.png">
        </div>

        <div class="span8">
            <h3 class="bold">Increased key conversions in the cart checkout process by 12%</h3>
            <p>We took the sharing process of a typical e-commerce site to the next level by making the buying decision a collaborative process among the key decision makers, allowing home owners and builders to share their favorite plans.</p>
        </div>
    </div>

    <hr>

    <div class="row">
        <div class="span2 offset1 hidden-phone">
            <img src="img/houseplans/1.png">
        </div>

        <div class="span8">
            <h3 class="bold">Integrated social sharing and collaboration of plans</h3>
            <p>We took the sharing process of a typical e-commerce site to the next level by making the buying decision a collaborative process amongst the key decision makers, allowing home owners and builders to share their ideal plans.</p>
        </div>
    </div>

    <hr>

    <div class="row">
        <div class="span2 offset1 hidden-phone">
            <img src="img/houseplans/4.png">
        </div>

        <div class="span8">
            <h3 class="bold">Built a consistent social presence</h3>
            <p>Taking the pre-existing Pinterest, Facebook, Twitter and email activities, I standardized our social media presence. This enabled everyone at houseplans.com to be a part of our social media team. From there, we continued to make social and email an integral part of advertising our sales. </p>
        </div>
    </div>

    <hr>

    <div class="row paragraph-overview">
        <div class="span3 offset1">
            <img class="img-circle" src="http://media-cache-ec1.pinimg.com/avatars/Houseplanology_1371883805_140.jpg">
        </div>

        <div class="span7 secondary-color">
            <h3 class="weak"><i>"Houseplans.com is a great site. It’s clear, well organized and easy to use. You can search for plans by style or themed collection, or you can use the comprehensive search box available under the search tab. Houseplans.com is the benchmark for house plan sites and for range and layout it’s hard to beat." </i><br><br>- Houseplanology</h3>
        </div>
    </div>

</div>
