<div class="jumbotron" id="ikea">
    <div class="container">
        <div class="row">
            <div class="span6 offset1">
                <h1>IKEA Floor Map</h1>
                <h3>Never shop again without knowing the dimensions of your room</h3>
                <hr>
                <h3 class="weak">The IKEA Floor Map app solves that by automatically measuring your living space.</h3>
            </div>

            <div class="span5 hidden-phone">
                <img src="img/IKEA/IKEA_HEADER.jpg">
            </div>
        </div>
    </div>
</div>

<div class="container">
    <div class="image-overview" class="row">
        <div class="span10 offset1 center">
            <img src="img/IKEA/IKEA_FLOW.png">
        </div>
    </div>
</div>
