<div id="body-container" class="container">
    <div class="row">
        <div class="self-description section section-top col-xs-10 col-xs-offset-1 text-center">
            <h3>About Me <br class="visible-xs">(who is this guy?)</h3>
            <br>
            <p>Product Designer with 2.5+ years of digital hustling. Helping people create useful tools through lean design and asking the right questions.</p>
        </div>
    </div>

    <div class="influence row section section-top">
        <div class="col-sm-6 section text-center">
            <h3 class="influence--header">Things I have written</h3>
            <ul class="list-unstyled bordered-bottom">
                <li>
                    <a href="https://medium.com/@joey_isaacson/ogilvy-on-ux-40caa739ea7a" target="blank">Ogilvy on UX</a>
                </li>
                <li>
                    <a href="https://medium.com/@joey_isaacson/i-dont-do-high-fidelity-wireframes-3cf244457281" target="blank">I don't do high fidelity wireframes</a>
                </li>
                <li>
                    <a href="https://medium.com/@joey_isaacson/creating-an-agile-design-process-1b68b0e11bfe" target="blank">Creating an Agile Design Process</a>
                </li>
            </ul>
        </div>
        <div class="col-sm-6 section text-center">
            <h3 class="influence--header">Influencers</h3>
            <ul class="list-unstyled bordered-bottom">
                <li>
                    <a href="http://www.amazon.com/Lean-UX-Applying-Principles-Experience/dp/1449311652" target="blank">Lean UX</a>
                    <small>by Jeff Gothelf</small>
                </li>
                <li>
                    <a href="http://www.amazon.com/Lean-Analytics-Better-Startup-Faster/dp/1449335675/ref=pd_sim_b_3?ie=UTF8&refRID=0M60BVGMSRZKMVFHYK2J" target="blank">Lean Analytics</a>
                    <small>by Alistair Croll</small>
                </li>
                <li>
                    <a href="http://52weeksofux.com/" target="blank">52 Weeks of UX</a>
                    <small>by Joshua Porter, Joshua Brewer</small>
                </li>

            </ul>
        </div>
    </div>
</div>
