<div class="container">
    <div class="self-description-mobile section section-top text-center row">
        <div class="col-sm-8 col-sm-offset-2">
            <h2>About Me</h2>
            <br class="visible-xs">
            <h4 class="lead text-center">Product Designer with 2.5+ years of digital hustling.</h4>
            <div class="row">
                <div class="col-md-4 col-md-offset-4 col-xs-6 col-xs-offset-3 section">
                    <div class="row">
                        <div class="col-sm-10 col-sm-offset-1">
                            <img class="img-circle img-responsive" src="img/icons/profile.jpg"></img>
                        </div>
                    </div>
                </div>
            </div>
            <p class="lead">Both designer and front-end developer, I have a strong technical background that allows me to quickly create and test both native and web-based prototypes.</p>
        </div>
    </div>

    <div class="influence row section section-top">
        <div class="col-sm-6 section text-center">
            <h3 class="influence--header">Things I have written</h3>
            <ul class="list-unstyled bordered-bottom">
                <li>
                    <a href="https://medium.com/@joey_isaacson/ogilvy-on-ux-40caa739ea7a" target="blank">Ogilvy on UX</a>
                </li>
                <li>
                    <a href="https://medium.com/@joey_isaacson/creating-an-agile-design-process-1b68b0e11bfe" target="blank">Creating an Agile Design Process</a>
                </li>
            </ul>
        </div>
        <div class="col-sm-6 section text-center">
            <h3 class="influence--header">Influencers</h3>
            <ul class="list-unstyled bordered-bottom">
                <li>
                    <a href="http://www.amazon.com/Lean-UX-Applying-Principles-Experience/dp/1449311652" target="blank">Lean UX</a>
                    <small>by Jeff Gothelf</small>
                </li>
                <li>
                    <a href="http://www.amazon.com/Prototyping-Todd-Zaki-Warfel-ebook/dp/B004VFUOMY/ref=sr_1_1?s=books&ie=UTF8&qid=1413056474&sr=1-1&keywords=todd+zaki+warfel" target="blank">Prototyping</a>
                    <small>Todd Zaki Warfel</small>
                </li>
                <li>
                    <a href="http://52weeksofux.com/" target="blank">52 Weeks of UX</a>
                    <small>by Joshua Porter, Joshua Brewer</small>
                </li>
            </ul>
        </div>
    </div>
</div>
