<footer class="footer text-center">
    <div class="container">
        <p class="footer--lead">Always feel free to reach me at
            <a class="footer--email bold" href="mailto:joey.a.isaacson@gmail.com" class="bold">joey.a.isaacson@gmail.com</a>
        </p>

        <hr>

        <div class="footer--links section row">
            <div class="col-sm-4">
                <i class="footer--icon fa fa-twitter fa-2x"></i>
                <p>Follow me <a href="https://twitter.com/Joey_Isaacson" target="blank" >@joey</a><p>
            </div>
            <br class="visible-xs">
            <div class="col-sm-4">
                <i class="footer--icon fa fa-linkedin fa-2x"></i>
                <p>
                    <a href="https://www.linkedin.com/profile/view?id=66445229" target="blank" >Connect with me</a>
                <p>
            </div>
            <br class="visible-xs">
            <div class="col-sm-4">
                <i class="footer--icon fa fa-github fa-2x"></i>
                <p>
                    <a href="https://github.com/joeisaacson" target="blank">View the goods</a>
                </p>
            </div>
        </div>
    </div>
</footer>
