<footer class="footer text-center">
    <div class="container">
        <p class="footer--lead">I am not currently available for hire, but always feel free to reach me at
            <b>joey.a.isaacson@gmail.com</b>
        </p>

        <hr>

        <div class="row">
            <div class="col-sm-4">
                <h4 class="text-center">Twitter</h4>
                <p>Follow me <a href="https://twitter.com/Joey_Isaacson" target="blank" >@joey</a><p>
            </div>
            <br class="visible-xs">
            <div class="col-sm-4">
                <h4 class="text-center">LinkedIn</h4>
                <p><a href="https://www.linkedin.com/profile/view?id=66445229" target="blank" >Connect with me</a><p>
            </div>
            <br class="visible-xs">
            <div class="col-sm-4">
                <h4 class="text-center">GitHub</h4>
                <p><a href="https://github.com/joeisaacson" target="blank">View the goods</a></p>
            </div>
        </div>
    </div>
</footer>
