<div class="navbar navbar-inverse navbar-fixed-top">
    <div class="navbar-inner">
        <div class="container">
            <div class="row">
                <div class="span10 offset1">
                    <a class="brand" ng-href="/app/index.html#/home">Joey Isaacson</a>
                    <ul class="nav pull-right hidden-phone">
                        <li>
                            <a ng-href="/app/index.html#/home">Work</a>
                        <li>
                        <li>
                            <a ng-click="scrollTo('contact')">Contact</a>
                        </li>
                    </ul>
                </div>
            </div>
        </div>
    </div>
</div>
